$generalGreyish: rgba(217, 217, 217, 1);
$navHover: rgba(255, 0, 0, 1);
$favoriteOnHover:rgba(255, 199, 0, 1);
$borders: rgba(255, 255, 255, 1);


// font-style

$inter: 'Inter', sans-serif;
$rubik: 'Rubik', sans-serif;

