@import "@/assets/scss/_globals";

main {
  max-width: 1286px;
  margin: 0 auto;
  padding-bottom: 1rem;

}

section {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  @media(max-width: 768px){
    justify-content: center;
  }

}

.profile-container {
  border: 1px solid rgba(217, 217, 217, 1);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  width: 339px;
  min-height: 500px;
  padding-inline: 13px;
  padding-top: 15px;
  padding-bottom: 61px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: $generalGreyish;
  height: 565px;
  .user-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 4px #000000);
    border-radius: 5px;
    margin-bottom: 14px;
    img {
      width: 100%;
    }
  }

  .user-info {
    margin: 0 auto;
    width: 300px;
  }

  .header {
    margin-bottom: 44px;
    h1,
    h2 {
      font-family: $rubik;
      font-weight: 300;
    }
    h2 {
      color: rgba(117, 117, 117, 1);
    }
  }

  .profile-details {
    ul li {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 16px;
      font-family: $rubik;
      font-weight: 300;
      color: rgba(117, 117, 117, 1);
    }
  }
}

.repo-container {
  height: 565px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  @media(max-width: 1075px){
    padding: 1rem;
    width: 600px;
  }
  @media(max-width: 426px){

  }
}

.moreRepo {
  margin-top: 2rem;
  padding: 1rem;
  margin: 1rem auto 1rem auto;
}
