@import "@/assets/scss/_globals";


main{
    max-width: 1300px;
    margin: 0 auto;
    @media(max-width: 426px){
        padding: 1rem;
    }
}

.user-container{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.seeMoreUsers{
    margin: 0 auto;
}