@import "@/assets/scss/_globals";


main section{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @media(max-width: 426px){
        padding: 1rem;
    }
}

.showMoreRepo{
    margin: 1rem auto 1rem auto;
}